# Server
PORT=3001
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/wab
JWT_SECRET=replace-with-32+char-random-secret
JWT_EXPIRES_IN=7d

WA_PHONE_NUMBER_ID=1015307211664944
WA_BUSINESS_ACCOUNT_ID=1465817245036146
WA_ACCESS_TOKEN=EAAVgowgzl1UBQ75fVVUqh8Id4UHmYMPPtvAS4i5dQrkd9O1QZAUMRoDyNhMOqVWT84C1g0JeW8zVgtLI1XPpS7ob9GWzdWqLragKWgrzQ4gkWsfGU2G393HoKNzprAcBChGtRIeBxwWvSwFo4ptFGUQxa588EPhYqamc3QnU2FbMtpFVBqlYUmQaAOj9Qa6uOa1UoDxnYNOzhKs6jLFmzwJA9ZCaVwDs0WEeMY
WA_API_VERSION=v21.0
WA_WEBHOOK_VERIFY_TOKEN=nitishapple11

CLIENT_URL=http://localhost:5173
